.animated-circle {
  width: 200px;
  height: 200px;
  background-color: #fd5956;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  animation: circle-1 10s linear infinite alternate 0s;
}
@keyframes circle-1 {
  0% {
    left: 10%;
    top: 5%;
  }
  25% {
    left: 15%;
    top: 60%;
  }
  50% {
    left: 50%;
    top: 30%;
  }
  75% {
    left: 75%;
    top: 200%;
  }
  100% {
    left: 10%;
    top: 5%;
  }
}
  body {
    background-color: #fffafa;
  }
  .box {
    position: fixed;
    top: 0;
    transform: rotate(80deg); 
    left: 0;
    z-index: -1;
  }
  
  .wave {
    position: absolute;
    opacity: .4;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    border-radius: 43%;
  }
  
  @keyframes rotate {
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
  }
  
  .wave.-one {
    animation: rotate 10000ms infinite linear;
    opacity: 5%;
    background: #ff8b89;
  }
  
  .wave.-two {
    animation: rotate 6000ms infinite linear;
    opacity: 10%;
    background: #feaba9;
  }